.tn-how-it-work {
  width: calc((100% - 316px) / 5);

}
.tn-left-right-section .right-part-main {
	padding-top: 40px;
}
.tn-title-h2 {
  text-align: center;
  font-weight: 800;
  font-size: 42px;
  line-height: 37px;
  font-family: Montserrat;
  letter-spacing: 0.84px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 36px
}

.tn-custom-howitwwork {
  box-shadow: 20px 39px 47px #CDCDCD8A;
  padding-top: 36px 0;
}

.tn-custom-howitwwork .row {
  gap: 79px;
}

.tn-custom-howitwwork .tb-about-bx .tb-bx-title {
  margin-top: 36px;
}

.tn-wrapper-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 32px 138px;
  justify-content: space-between;

}

.tn-wrapper-card .tn-item {
  width: calc((100% - 138px) / 2);
  margin: 0px;
  gap: 0;
}

.what_included-section {
  padding: 50px 115px;
}

.tn-wrapper-card .tb-subtitle {
  letter-spacing: 0.4px;
  color: #000000;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700 !important;
  font-family: 'proxima-nova';
}

.tn-wrapper-card .right_cotent {
  font-size: 15px;
  line-height: 1.2;
	
}

.what_included-section .img_left {
  max-width: 87px;
  object-fit: cover;
  margin-right: 31.34px;
}

.tn-wrapper-card:after {
  content: '';
  display: block;
  height: 100%;
  width: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000000;
  position: absolute;
  border-radius: 20px;
}

.tn-wrapper-card {
  position: relative;
}

.content-left-tn {
  min-width: 190px;
  width: auto;
  height: auto;
}

.tn-item-hint {
  gap: 40px;
  justify-content: center;
}

.tn-list_section .tn-item-hint:nth-child(even) {
  flex-direction: row-reverse;
  margin-top: 22px;
}

.content-left-tn {
  max-width: 283.62px;
  width: 100%;
}

.content-right-tn {
  max-width: 461px;
}

.your_event_section a {
    margin-top: 22px;
	max-width: 250px;
    background: white;
    padding: 16px 13px !important;
    color: black;
    width: 100%;
        display: inline-block;
    font-family: 'escapely-mono';
    letter-spacing: 3px;
    font-weight: 400;
    border-radius: 30px;
    border: 0 !important;
    line-height: 1;

}


.tn_what_included {
  max-width: 895px;
  margin: 0 auto;
}

.tn_what_included .icon-txt-outer {
  padding-top: 20px;
}

.tn-corporate {
  padding: 50px 0px 50px;
}

.what_included-section {
  padding-bottom: 30px;
}

.tn-corporate .description {
  padding-top: 5px;
}

.tn_the_benefits .cst-containter {
  max-width: 760px;
}

.tn_the_benefits .img_left img {
  width: 100%;
}

.tn_the_benefits .right_cotent {
  line-height: 1.2
}

.tn_the_benefits .right_cotent h3 {
  margin-bottom: 10px !important;
}

.section.tn_the_benefits .cst-title-div span {
  font-size: 42px;
}

.tn_the_benefits {
  padding-bottom: 30px;
  padding-top: 33px;
}

.tn_the_benefits .icon-txt-outer .img-txt-cst {
  margin-top: 40px;
}

.hint_system-section .tb-escapely {
  padding: 38px;
}

.tn-item-hint {
  align-items: center;
}

.tn-list_section .tn-item-hint:nth-child(odd) .content-left-tn {
  max-width: 190px;
}

.tn-list_section .content-right-tn p {
  line-height: 1.375;
  font-family: 'proxima-nova';
}

.tn-list_section .tn-item-hint:nth-child(even) .content-right-tn {
  max-width: 400px;
}

.tn-list_section .tn-item-hint {
  margin-top: 30px;
}

.tn_leaderboard {
  padding: 56px;
}

.tn_leaderboard .description,
.tn_remove_teams .description {
  padding-top: 5px;
}

.tn_remove_teams {
  padding: 22px;
}

.your_event_section {
  padding-top: 44px;
  padding-top: 73px;
}

.ready-for-inner {
  position: relative;
}

.tn-image-bottom {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.your_event_section .ready-block h2 {
  font-size: 37px;
  line-height: 1.08;
  padding: 0px 120px;
}

.your_event_section .ready-bloc-cont p {
  font-size: 16px;
  line-height: 22px;
}

.tn-left-right-section .card-body p {
  line-height: 1.6;
  font-size: 15px;
}

.tn-left-right-section .faq-list h3 .btn-link {
  padding: 22px 0;
}

.what_included-section {
  padding: 50px 20px 30px;
}

/* ---------------New css-------------- */
.tn-main-banner .virtual-banner-content {
  padding: 67px 29px 54px;
}

.tn-main-banner .underline {
  margin-top: 27px;
  margin-bottom: 25px;
}

.tn-main-banner .banner-para {
  line-height: 1.25 !important;
  font-size: 20px;
  font-weight: 600px;
  margin-bottom: 39px;
}

.tb-about-bx {
  padding-top: 42px;
  padding-bottom: 31px;
}

.tn-custom-howitwwork .container {
  max-width: 1080px !important;
}

.tn-custom-howitwwork.tb-about-bx .tb-bx-title {
  margin-top: 31px;
}

.tn-how-it-work {
  padding: 0 6px;
}

.tn-turn-you {
  padding-top: 84px;
  padding-bottom: 20px;
}

.tb-title {
  line-height: 1.1
}

.tn-turn-you .description {
  line-height: 1.375;
  padding-top: 10px;
}

.description p {
  line-height: 1.375;
  margin-bottom: 22px;
  padding: 0px 8px;
}

.tn-turn-you .builder-text-content img {
  margin: 80px auto 0px;
  max-width: 711px;
  width: 100%;
}

.img-tn-turn {
  text-align: center;
}

.tn-left-right-section .tn-experience {
  padding-top: 33px;
  padding-bottom: 20px;
}

.tn-left-right-section section.tn-experience .cst-title-div span {
  font-size: 42px;
}

.tn-left-right-section .tn-experience .icon-txt-outer {
  padding-top: 15px;
}

.tn-left-right-section .tn-experience .cst-containter {
  max-width: 840px;
}

.tn-experience .img_left {
  max-width: 176px;
}

.tn-experience .right_cotent p {
  line-height: 1.2;
  font-size: 16px; 
  font-weight: 500;
}

.tn-experience .icon-txt-outer .img-txt-cst {
  margin-top: 37px;
}

.tn-how-our {
  padding: 60px 0 18px;
}

.tn-how-our .description {
  padding-top: 5px;
}

.tn_what_included {
  padding: 16px 0;
}
.tn-left-right-section .right-part-main{
	margin-top: -40px;
}
.tn-custom-howitwwork {
	position: relative;
    z-index: 2;
	background: #FFFFFF 0% 0% no-repeat padding-box;
}
.description a{
	color: #FB954D;
    font-weight: 700;
}
@media(max-width: 1200px){
	.tn-custom-howitwwork .row{
		padding: 0 20px;
		gap: 50px;
	}
	.tn-how-it-work {
        width: calc((100% - 200px) / 5);
    } 
}

@media(max-width: 1024px){
	.tn-wrapper-card .tn-item{
      width: calc((100% - 60px) / 2);
	}
	.tn-wrapper-card {
		gap: 60px;
	}
	.tn_the_benefits .img_left {
      
      width: 100%; 
    }

}
@media(max-width: 992px){ 
	.tn-left-right-section .right-part-main {
	    padding-top: 0px;
     }
}
@media(max-width: 767px){
	.tn_the_benefits .img_left,
	.tn-experience .img_left
	{   
      min-width: 60px; 
		max-width: 60px;
    }
	.tn-custom-howitwwork .row{
		justify-content: center;
	}
	.tn-how-it-work {
        width: calc((100% - 50px) / 2);
    } 
	.tn-wrapper-card .tn-item{
		width: 100%;
	}
	.tn-wrapper-card:after {
		display: none;
	}
	.tn-list_section .tn-item-hint{
		flex-wrap: wrap;
	}
	.hint_system-section .tb-escapely{
		padding: 38px  20px;
	}
	.tn_remove_teams {
		padding: 0px;
	}
	.tn_leaderboard{
		padding:56px 0px;
	}
	.your_event_section .ready-block h2 {
		padding: 0px
	}
	.what_included-section{
		    padding: 50px 0px 30px;
	}
	.tn-turn-you .builder-text-content img {
		margin-bottom: 20px;
	}
	.tn-main-banner .banner-para {
		font-size: 18px
	}
	.tn-left-right-section .right-part-main {
		margin-top: 40px;
	}
	.tn-custom-howitwwork {
	border-radius: 0px 0px 80px 80px !important;
    box-shadow: 10px 10px 10px #b2b2b2;
	}
}