header#header {
    z-index: 3;
    position: relative;
    background: #fff;
}

p:empty {
    margin: 0;
}

.virtual-banner-main {
    padding: 0;
    position: relative;
    z-index: 2;
}

.virtual-full-image-sec img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.virtual-full-image-sec {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.builder-text-content p,
.builder-text-content dl,
.builder-text-content ol,
.builder-text-content ul {
    font-size: 18px;
}

.banner-desktop-image {
    width: 100%;
    height: 100%;
}

.virtual-banner-main-in {
    position: relative;
    padding: 35px;
}

.btn-arrowimg {
    max-width: 20px;
}

.virtal-banner-back-btn a {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    color: #fff;
    font-family: 'montserrat';
    font-weight: 700;
}

#backtofirst span,
#backtosecond span,
#backtofirst1 span {
    font-size: 18px;
    color: #000;
    font-family: 'montserrat';
    font-weight: 700;
    cursor: pointer;
}

span#backtofirst,
#backtosecond {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.virtual-banner-content {
    padding: 200px 55px;
}

.virtual-banner-content {
    max-width: 460px;
    text-align: center;
}

.virtual-banner-content h3,
.virtual-banner-content .h3 {
    font-size: 27px;
    color: #fff;
    font-family: 'montserrat';
    font-weight: 800;
    display: block;
    margin-bottom: 6px;
}

#totalcustomquote {
    display: none;
}

#totalcustomquote a {
    color: #FB954D;
    text-decoration: underline;
}

.virtual-banner-content h1 {
    font-size: 66px;
    margin: 0;
    font-family: 'montserrat';
    font-weight: 800;
    color: #fff;
    line-height: 57px;
}

.page-template-custom_escape_room .virtual-banner-content h1 span.h3 {
    color: #E7E7E7;
}

.virtual-banner-content h1 span {
    font-size: 55px;
}

.underline {
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background: #fff;
    max-width: 230px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.banner-para {
    color: #fff;
    opacity: 1 !important;
    font-size: 18px;
    line-height: 1.2 !important;
    font-weight: 500 !important;
    margin-bottom: 30px;
    padding: 0 15px;
}

.page-template-custom_escape_room .banner-para {
    padding: 0 4px;
}

.page-template-custom_escape_room .virtual-banner-content {
    padding: 67px 52px 32px;
}

.virtual-banner-content .tb-btn {
    font-family: 'montserrat' !important;
    font-size: 20px !important;
    letter-spacing: 0;
    font-weight: 600;
    padding: 14px 40px !important;
    text-transform: uppercase;
    line-height: 1.2;
}

.left-right-section {
    padding: 0;
}

.left-right-main {
    display: flex;
}

.left-part-main {
    max-width: 73%;
    width: 100%;
}

.right-part-main {
    max-width: 27%;
    width: 100%;
    text-align: center;
}

.right-part-main select {
    height: 50px;
    width: 100%;
    padding: 6px 12px;
    border: 0px;
    background-color: #f4f4f4;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
    max-width: 330px;
    border-radius: 13px;
    font-family: 'montserrat';
    font-weight: 700;
    font-size: 16px;
    color: #000;
}

.form-group.btn-group {
    display: block;
}

.input-fields.input-field-2 h3 {
    max-width: 300px;
}

.right-part-main select,
.custom-placeholder {
    appearance: none;
    background-image: url(/wp-content/uploads/2024/08/arrow-down-339-svgrepo-com.svg) !important;
    background-size: 20px !important;
    background-repeat: no-repeat !important;
    background-position: calc(100% - 12px) center !important;
    cursor: pointer;
}

.line-black-form {
    display: block;
    width: 100%;
    max-width: 240px;
    height: 5px;
    background: #000;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-instant-quote {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    /* FLEX-WRAP: WRAP; */
}

.instant-quote-head h3,
.instant-quote-head .h3 {
    font-family: 'montserrat';
    font-size: 16px;
    font-weight: 700 !important;
    margin: 0;
}

.instant-quote-value h3 {
    font-size: 16px;
    font-family: 'montserrat';
    font-weight: 700;
    margin: 0;
}

.instant-quote-head {
    max-width: 160px;
    width: 100%;
}

.bar p {
    text-decoration: none;
}

.right-sidebar-inner {
    text-align: center;
    padding: 35px 50px;
}

.sidebar-heading h2 {
    font-size: 40px;
    font-family: 'montserrat';
    font-weight: 700;
}

.sidebar-heading h2 span {
    display: block;
}

.apprx-headcount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    background: #F4F4F4;
    border-radius: 15px;
    box-shadow: 0 3px 6px #00000029;
}

.apprx-headcount p {
    margin: 0;
}

.apprx-headcount {
    max-width: 316px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 15px;
}

.apprx-headcount p {
    margin: 0;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-weight: 600;
}

.apprx-headcount p span {
    font-size: 12px;
    display: block;
}

.apprx-headcount select {
    border: 0;
    font-size: 20px;
    font-family: 'montserrat';
    font-weight: 700;
    padding: 7px;
    border-radius: 9px;
    appearance: none;
    padding-right: 24px;
    background-image: url(/wp-content/uploads/2024/08/arrow-down-339-svgrepo-com.svg);
    background-size: 13px;
    background-position: 87% center;
    background-repeat: no-repeat;
}

.stafford-dropdown select {
    border: 0;
    appearance: none;
    padding-right: 34px !important;
    background-image: url(/wp-content/uploads/2024/08/arrow-down-339-svgrepo-com.svg) !important;
    background-size: 13px !important;
    background-position: 94% center !important;
    background-repeat: no-repeat !important;
    background: #F4F4F4;
    border-radius: 15px;
    box-shadow: 0 3px 6px #00000029;
    font-size: 16px;
    color: #000;
    font-weight: 600;
    max-width: 316px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 15px;
    width: 100%;
    min-height: 62px;
    margin-top: 15px;
}

.right-sidebar {
    box-shadow: -5px 0px 15px #00000080;
    height: 100vh;
    position: fixed;
    top: 127px;
    right: 0;
    width: 100%;
    max-width: 30%;
    background: #fff;
    z-index: 1;
}

.tb-brand-logo {
    background: #fff;
    z-index: 9;
    margin: 0;
}

.right-part-main select:focus-visible,
.right-part-main input:focus-visible {
    outline: 0;
}

.full-width.tb-escapely:has(.tb-brand-logo) {
    padding-top: 6px !important;
    background: #ffffff !IMPORTANT;
    position: relative !important;
    z-index: 3;
    padding-bottom: 10px !important;
}

.right-part-main .form-group .btn.btn-primary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.instant-quote-head {
    margin-bottom: -2px;
}

.green-outer {
    padding: 32px 65px;
    margin: 0 auto;
    background-color: #77D5CA;
    margin-left: 50px;
    box-shadow: 0px 3px 47px #77D5CA;
    border-radius: 36px 0px 0px 36px;
}

.icon-inner {
    display: flex;
    gap: 20px;
}

.cst-icon-block {
    display: flex;
    gap: 50px;
    max-width: 1150px;
    justify-content: center;
}

p {
    opacity: 1;
    line-height: 1.3;
    font-size: 16px;
    /* line-height: 1.3 !important; */
    /* font-weight: 400 !important; */
    font-weight: 400;
}

.font-20 {
    font-size: 20px !important;
    letter-spacing: 0.4px;
}

.cst-right-content {
    max-width: 330px;
}

.cst-icon-block p.font-20 {
    font-weight: bold;
}

section.experience .cst-title-div h2 {
    font-size: 30px;
}

section.experience .cst-title-div span {
    font-size: 46px;
}

.cst-left-img img {
    width: 100%;
}

.cst-left-img {
    max-width: 48px;
    width: 100%;
}

.tb-btn-white {
    background: #fff !important;
    color: #000 !important;
}

.img_left {
    width: 100%;
    max-width: 117px;
}

.img-txt-cst {
    gap: 50px;
}

.font-18 {
    font-size: 18px !important;
    line-height: 22px;
    letter-spacing: 0.36px;
}

.font-22 {
    font-size: 22px;
    line-height: 30px;
    margin: 0;
}

section.bar {
    background: #E7E7E7;
    padding: 20px;
}

.txt-orange {
    color: #FB954D;
}

section.bar p {
    max-width: 1400px;
}


.Embark-line {
    font-weight: 700;
    text-decoration: underline;
}

footer.footer-section {
    z-index: 2;
    position: relative;
}


.testimonial-head-block {
    padding: 0 50px;
    text-align: center;
    margin-bottom: 40px;
}

.testimonial-head-block>* {
    text-align: center;
}

.testimonial-caption {
    font-family: 'escapely-mono' !important;
    color: #FB954D;
    font-size: 14px;
    font-weight: 400 !important;
    letter-spacing: 2.1px;
}

.testimonial-head {
    margin: 0;
}

.testimonial-slider {
    display: flex;
}

.testimonial-slide-inner {
    border: 3px solid #000000;
    border-radius: 53px;
    padding: 25px 61px;
}

.testimonial-logo {
    text-align: center;
}

.testimonial-logo img {
    width: 100%;
    max-width: 123px;
}

.test-head {
    margin: 20px 0;
}

.test-head h3 {
    margin: 0 !important;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    font-family: 'PARACHUTE-PFDINMONO';
    letter-spacing: 0.6px;
}

.test-content p {
    font-size: 15px;
    text-align: center;
    opacity: 1;
}

.test-content p:last-child {
    margin: 0;
}

.test-content {
    margin-bottom: 15px;
}

.auth-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.auth-img img {
    width: 100%;
}

.auth-img {
    max-width: 64px;
    width: 100%;
}

.auth-name {
    font-family: 'escapely-mono';
    font-size: 16px;
    opacity: 1;
    margin-bottom: 5px;
    letter-spacing: 1.8px;
}

.auth-span {
    margin: 0;
    font-family: 'escapely-mono';
    opacity: 1;
    font-size: 14px;
    letter-spacing: 1.8px;
}


.compare-section-main {
    padding: 30px 70px;
    background: #77D5CA;
    color: #fff;
    border-radius: 35px;
    box-shadow: 0px 3px 47px #77D5CA;
}

.stafed-heading h2 {
    color: #fff;
    text-align: center;
}

.cont-cont p {
    color: #fff;
}

.compare-sec-inner {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.stafed-feature-box {
    display: flex;
    align-items: center;
    gap: 30px;
}

.compare-sec-in {
    max-width: 50%;
    width: 100%;
}

.stafed-image img {
    width: 100%;
}

.stafed-image {
    width: 100%;
    max-width: 85px;
}

.cont-head {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}

.cont-cont p {
    font-size: 18px;
    opacity: 1;
}

.stafed-points {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.compare-sec-in.right-sec {
    padding-left: 70px;
}

.compare-sec-in.left-sec {
    padding-right: 70px;
    position: relative;
}

.compare-sec-in.left-sec:after {
    content: '';
    width: 5px;
    height: calc(100% - 50px);
    background: #fff;
    position: absolute;
    right: -2px;
    bottom: 0;
    border-radius: 3px;
}

.stafed-heading {
    padding-bottom: 30px;
}

.compare-section-main {
    margin-bottom: 30px;
}

.virtual-content-section {
    padding: 40px 115px 0;
}

.experience {
    padding-left: 115px;
    padding-right: 115px;
}

.cont-headdd {
    max-width: 500px;
    margin-bottom: 20px;
}

/* .cont-contentt, .cont-contentt p {
    font-size: 18px;
    opacity: 1;
    font-weight: 500;
} */
.cont-contentt p a {
    font-weight: 700;
    text-decoration: underline;
    color: #000;
}

.arrow-list {
    padding-left: 0;
    list-style: none;
}

.arrow-list li {
    background: url(/wp-content/uploads/2024/09/Vector.svg);
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: left 5px;
    padding-left: 25px;
    font-family: 'proxima-nova';
}

.large-gap li {
    margin-bottom: 15px;
}

.cont-contentt p {
    margin-bottom: 25px;
}

.mx-580 {
    max-width: 590px !important;
}

.cont-contentt {
    padding-left: 30px;
}

.ready-for-section-main {
    padding: 80px 50px;
}

.ready-for-inner {
    max-width: 728px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #FB954D;
    border-radius: 36px;
    padding: 30px 42px;
}

.ready-block h2 {
    font-size: 40px;
    text-align: center;
    color: #fff;
    margin: 0;
}

.ready-block h3 {
    text-align: center;
    color: #fff;
}

.ready-bloc-cont {
    margin-top: 15px;
    max-width: 535px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.ready-bloc-cont p {
    font-size: 20px;
    line-height: 1.4;
    opacity: 1;
    color: #ffffff;
}

.ready-bloc-cont p a {
    font-weight: 700;
    color: #ffffff;
    text-decoration: underline;
}

.container {
    width: 100% !important;
}

.builder-faqs {
    padding: 0 50px !important;
}

.testimonials.tb-escapely .testimonial-item {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 500px;
    width: 100%;
}

section#testimonials {
    padding: 50px 0 !important;
}

.cst-right-content p {
    font-size: 18px;
    color: #fff;
}

.min-container {
    max-width: 869px !important;
}

.swiper-slide-inner {
    position: relative;
}

.escape-room-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000085;
    display: none;
    z-index: 999;
}

.escape-popup-inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.escape-pop-up-item {
    max-width: 1100px;
}

.escape-pop-up-exit {
    width: 100%;
    max-width: 90px;
    background: #FB954D;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    position: absolute;
    right: 35px;
    top: 25px;
}

.escape-pop-up-exit img {
    max-width: 34px;
    width: 100%;
}

.escape-room-popup.active {
    display: block;
}

.escape-pop-up-item {
    background: #ffffff;
    border-radius: 70px;
    border: 10px solid #FB954D;
    padding: 35px 42px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto;
    max-height: 80vh;
}

.escape-popup-left,
.escape-popup-right {
    max-width: 50%;
    width: 100%;
}

.escape-popup-left {
    padding-right: 20px;
}

.popup-subtitle {
    font-size: 25px;
    color: #FB954D;
    font-family: 'montserrat';
    font-weight: 700;
}

.popup-title {
    font-size: 40px;
    font-family: 'montserrat';
    font-weight: 900;
    line-height: 1;
}

.big-title {
    display: block;
    font-size: 60px;
    font-weight: 900;
    font-family: 'montserrat';
    line-height: 1;
}

.divider-orange {
    width: 100%;
    max-width: 310px;
    height: 6px;
    background: #FB954D;
    border-radius: 5px;
    margin: 20px 0 30px;
}

.escape-popup-left p {
    font-size: 15px !important;
    opacity: 1;
}

.popup-image img,
.popup-image iframe {
    border: 5px solid #FB954D;
    border-radius: 70px;
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 2;
}

.escape-room-popup-main {
    padding: 0 20px !important;
}

.escape-pop-up-exit button.close {
    opacity: 1;
}

.instant-quote-btn-main .form-group.btn-group,
.demo-message-main .form-group.btn-group {
    display: block;
}

.instant-quote-btn-main .form-group.btn-group {
    margin: 0;
}

.instant-quote-btn-main {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.instant-quote-btn-main .form-group.btn-group .btn,
.esc-book-a-demo {
    max-width: 250px !important;
    width: 100% !important;
    padding: 17px 13px 15px !important;
    font-size: 18px !important;
    font-family: 'escapely-mono';
    letter-spacing: 3px;
    font-weight: 400 !important;
    border-radius: 30px !important;
    border: 0 !important;
    line-height: 1;
}

.esc-email {
    background: #7C7C7C !important;
}

.right-part-main h2,
.right-part-main .h2 {
    font-weight: 800 !important;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    font-size: 40px;
    max-width: 310px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    line-height: 1.1;
}

#instantquoteform .form-group.btn-group {
    margin: 0 !important;
}

.esc-date,
.esc-book-a-demo {
    background: #FB954D !important;
}

.input-fields input {
    background: #F4F4F4;
    border: 0;
    color: #000 !important;
    padding: 15px;
    max-width: 330px;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #00000029;
    font-size: 15px;
    font-weight: 700;
    font-family: Montserrat;
    width: 100%;
}

.input-fields input[type="date"] {
    text-transform: uppercase;
    -webkit-appearance: none;
}

.input-fields input::placeholder {
    color: #000;
}

.input-fields h3,
.input-fields .h3 {
    font-size: 20px;
    font-family: 'montserrat';
    font-weight: 700;
    margin-bottom: 30px;
    max-width: 210px;
    margin-left: auto;
    margin-right: auto;
}

.demo-message-main h3,
.demo-message-main .h3 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'montserrat';
    position: relative;
    display: inline-block;
}

.page-template-custom_escape_room #form-step-3 .demo-message-main h4,
.page-template-custom_escape_room #form-step-3 .demo-message-main .h4 {
    font-size: 35px;
    line-height: 45px;
    color: #77D5CA;
    font-family: 'montserrat';
    font-weight: 700;
    margin-top: 8px;
}

.demo-message-main h2,
.demo-message-main .h2 {
    font-weight: 700;
    font-family: 'montserrat';
    color: #77D5CA;
    position: relative;
}

.demo-message-main h3:before,
.demo-message-main .h3:before {
    content: '';
    background-image: url(/wp-content/uploads/2024/09/star-1.svg);
    position: absolute;
    left: -80px;
    top: 0;
    width: 39px;
    height: 59px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.page-template-custom_escape_room #form-step-3 .demo-message-main h3:after,
.page-template-custom_escape_room #form-step-3 .demo-message-main .h3:after {
    content: '';
    background-image: url(/wp-content/uploads/2024/10/two-stars.png);
    position: absolute;
    right: -81px;
    bottom: -128px;
    width: 45px;
    height: 55px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.demo-message-main h2:before,
.demo-message-main .h2:before {
    content: '';
    background-image: url(/wp-content/uploads/2024/09/star-2.svg);
    position: absolute;
    right: -30px;
    bottom: -10px;
    width: 44px;
    height: 54px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.demo-message-image img {
    width: 100%;
    max-width: 275px;
}

.demo-message-image {
    margin: 30px 0;
}

.demo-message-main p {
    font-size: 20px;
    font-family: montserrat;
    font-weight: 700;
    color: #0E0E0E;
    max-width: 272px;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    line-height: 1.2;
}

.page-template-custom_escape_room #form-step-3 .demo-message-main p {
    margin-bottom: 50px;
    font-weight: normal;
}

.escape-room-popup-main {
    background: rgb(0 0 0 / 50%);
}

.faq-list h3 .btn-link {
    display: flex;
    justify-content: space-between;
}

.faq-list h3 .btn-link {
    padding: 15px;
    text-align: left;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.4px;
    color: #000000;
    font-family: 'proxima-nova';
    width: 100%;
    text-decoration: none;
    border-radius: 0;
    border: none;
}

.virtal-banner-back-btn a:hover {
    color: #fff;
}

a:hover {
    text-decoration: none !important;
}

.right-part-main .wpcf7-not-valid {
    border: 2px solid #FB954D;
}

.right-part-main input,
.right-part-main select {
    transition: all 0.4s;
}

.right-part-main {
    box-shadow: -5px 0px 15px #00000080;
}

#instantquoteform {
    position: sticky;
    right: 0;
    top: 128px;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

#email-my-quote-next {
    background: #7C7C7C;
}

#check-date-time-next,
#email-to-quote-submit,
#checkdate-time-next {
    background: #FB954D;
}

/* .tb-title, .testimonials .tb-title {
    font-size: 43px;
}
.builder-text-content h3, .builder-left-right-content-item .sub-header {
    font-size: 34px !important;
} */
.favorite-title>div {
    max-width: 220px;
    width: 100%;
}

.rooms-slider .swiper-slide {
    height: auto;
}

.rooms-slider .swiper-slide .swiper-slide-inner {
    height: 100%;
}

.rooms-slider .favorites-items {
    height: 100%;
}

.virtual-content-outer p {
    /* font-size: 18px; */
    line-height: 1.4;
    opacity: 1;
    padding-left: 22px;
    /* font-weight: 500; */
}

.virtual-content-outer {
    margin-bottom: 30px;
    padding-top: 30px;
}

.virtual-content-outer h3,
.virtual-content-outer h2 {
    max-width: 600px;
    width: 100%;
}

.icon-txt-outer .img-txt-cst {
    margin-top: 30px;
}

.testimonials .tb-small-title {
    font-weight: 400;
}

.virtual-content-section .content-sec>h2 {
    margin-bottom: 35px !important;
}

/* .ready-bloc-cont p a {
    display: block;
    margin-top: 10px;
} */
.ready-bloc-cont p {
    margin: 0;
}

.tb-faq h5 {
    font-weight: 400;
}

.faq-list .card-header {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}

.card .card-body p:last-child {
    margin: 0;
}

.foot-logo img {
    max-width: 75%;
}

.popup-image {
    position: relative;
}

.playbtn-cst img {
    padding: 0;
    border: 0;
    width: 100%;
}

.playbtn-cst {
    max-width: 20%;
    width: 100%;
}

.escape-pop-up-exit {
    z-index: 1;
}

.playbtn-cst {
    max-width: 20%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.back-btn a {
    color: #000;
}

.back-btn a:hover {
    color: #000;
}

.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
}

.right_cotent h3 {
    margin-bottom: 15px !important;
}

.experience {
    padding-bottom: 50px;
}

.cont-contentt p:last-child {
    margin: 0;
}

select#staffed_or_digital {
    padding-right: 40px;
}

.show-escape-game-demo #escape-game-demo,
.show-book-a-consult #book-a-consult {
    transform: translateY(0);
}

.select-bottom {
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 5px;
    padding-left: 15px;
}

/* #instantquoteform .form-group {
    margin-bottom: 0.5rem;
} */
.select-bottom-text {
    font-size: 12px;
    font-weight: 600 !important;
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.span-btn-icon {
    display: block;
    max-width: 16px;
    margin-right: 4px;
    width: 100%;
}

.select-bottom-text a,
.select-bottom-text a:hover {
    color: #000;
}

.cst_whyy-chose {
    padding-left: 115px;
    padding-right: 115px;
    padding-bottom: 45px;
}

section.adventure-section {
    padding-top: 0;
    padding-bottom: 50px;
}

.getstarted.btn-nav-link {
    font-family: 'escapely-mono';
    padding: 8px 15px 6px 15px !important;
    display: inline-block;
}

.getstarted.btn-nav-link:hover {
    text-decoration: none;
}

.header-wrapper .right-wrapper .menu-item a[href^="tel"] {
    font-family: 'escapely-mono' !important;
    font-weight: 500 !important;
}

.tb-easapely.rooms-slider {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

#instantquoteform .escape-tabs {
    padding-top: 20px;
}

.banner-mobile-image {
    display: none;
}

.btn-wrapp a {
    display: block;
}

.btn-wrapp-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 247px;
    margin-left: auto;
    margin-right: auto;
}

.popup-content .embed-responsive {
    overflow: visible;
}

.escape-pop-up-exit .close {
    font-size: 0;
}

.cst-right-content .with-arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.teal-btn {
    display: inline-block;
    background: #77D5CA;
    color: #fff;
    font-family: 'montserrat';
    font-weight: 600;
    padding: 10px 30px !important;
    border-radius: 50px;
    font-size: 20px;
}

.mobile-btn-a {
    display: none;
}

.instant-quote-line {
    color: #FB954D;
    text-decoration: underline !important;
    font-size: 18px;
    text-underline-offset: 3px;
}

.instant-quote-line {
    display: none;
}

.ready-for-inner h3 a {
    color: #fff;
}

.virtual-banner-main .virtal-banner-back-btn {
    pointer-events: none;
    opacity: 0;
}

.cst-right-content .with-arrow {
    font-family: 'montserrat' !important;
    margin: 0 !important;
    font-weight: 700;
    letter-spacing: 0px;
    padding: 10px 45px !important;
}

.mobile-btn-a {
    text-align: center;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #F4F4F4 inset, 0px 3px 6px #00000029 !important;
}

.mobile-btn {
    display: none;
}

.builder-text-content h2 span {
    display: block;
}

.builder-text-content .h3 {
    margin-top: 0 !important;
}

.testimonials .tb-small-title {
    font-size: 14px !important;
    letter-spacing: 2.1px !important;
    color: #FB954D !important;
    text-align: center !important;
}

.tb-title,
.tb-subtitle,
.tb-bx-title,
.tb-small-title,
.testimonials .tb-title {
    font-weight: 800 !important;
}

span.tb-subtitle {
    display: block;
}

.testimonials.tb-escapely .testimonial-item .profile .profile-name {
    font-size: 16px;
    color: #000000;
    margin-top: 20px;
    font-family: "PARACHUTE-PFDINMONO";
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    color: #000000;
    margin: 0;
    text-align: left !important;
}

#ui-datepicker-div {
    width: 329px;
    background-color: #F4F4F4;
    padding: 16px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.ui-datepicker-calendar {
    width: 100%;
}

#ui-datepicker-div .ui-datepicker-calendar td a {
    color: #000;
}

.ui-datepicker-calendar th,
.ui-datepicker-calendar td {
    text-align: center;
    font-weight: 600;
    padding: 4px;
}

.ui-datepicker-calendar th span {
    opacity: 0.3;
}

#ui-datepicker-div .ui-datepicker-calendar .ui-datepicker-today a {
    position: relative;
}

#ui-datepicker-div .ui-datepicker-calendar .ui-state-disabled span {
    opacity: 0.3;
}

#ui-datepicker-div .ui-datepicker-calendar .ui-datepicker-today a::before {
    position: absolute;
    content: "";
    height: 5px;
    width: 5px;
    background-color: #000;
    border-radius: 50%;
    bottom: -2px;
    left: 6px;
}

#ui-datepicker-div .ui-datepicker-calendar .ui-datepicker-current-day a {
    color: #FB954D;
}

#ui-datepicker-div .ui-datepicker-header {
    position: relative;
    padding: 6px 0 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-prev span {
    font-size: 0;
    background-image: url(/wp-content/uploads/2024/10/arrowleft.png);
    background-repeat: no-repeat;
    height: 19px;
    width: 19px;
    display: inline-block;
    background-size: 22px;
}

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-prev,
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-next {
    cursor: pointer;
}

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-next span {
    font-size: 0;
    background-image: url(/wp-content/uploads/2024/10/arrowright.png);
    background-repeat: no-repeat;
    height: 19px;
    width: 19px;
    display: inline-block;
    background-size: 22px;
}

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-title {
    font-weight: 700;
    position: absolute;
    top: -7px;
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 19px;
}

.custom-date input {
    background-image: url(/wp-content/uploads/2024/08/arrow-down-339-svgrepo-com.svg) !important;
    background-size: 20px !important;
    background-repeat: no-repeat !important;
    background-position: calc(100% - 12px) center !important;
    cursor: pointer;
}

.planning_form {
    max-width: 630px;
    padding: 35px 28px 12px;
    width: 100%;
    background-color: #FB954D;
    border-radius: 36px;
    margin-left: 40px;
    display: block;
    margin: auto;
}

.planning_form p {
    text-align: center;
}

.planning_form h2,
.planning_form .h2 {
    font-size: 33px;
    line-height: 37px;
    color: #fff;
    text-align: center;
    font-weight: 800;
    margin: 0;
    margin-bottom: 5px;
    font-family: Montserrat;
}

.planning_form h4,
.planning_form .h4 {
    font-size: 28px;
    line-height: 34px;
    color: #fff;
    text-align: center;
    font-weight: 800;
    font-family: Montserrat;
    margin: 0;
}

.planning_form .wpcf7-form-control-wrap {
    width: 100%;
    display: block;
}

.planning_form .wpcf7-form-control-wrap textarea {
    /* width: 95%;*/
    max-width: 330px;
    height: 110px;
    border: 0px;
    border-radius: 21px;
    padding: 15px 19px;
    max-width: 638px;
    margin: 26px auto 0;
    display: block;
    font-size: 14px;
    font-family: Montserrat;
    color: #000;
}

.planning_form .wpcf7-form-control-wrap textarea::placeholder {
    color: #BFBFBF !important;
    opacity: 1;
    /* Firefox */
}

.planning_form .wpcf7-form-control-wrap textarea::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: #BFBFBF !important;
}

.planning_form input[type=submit] {
    max-width: 223px;
    width: 100%;
    background-color: #FFF;
    border-radius: 25px;
    font-size: 15px;
    color: #000 !important;
    text-align: center;
    font-weight: 400;
    border: 0px;
    padding: 13px 15px;
    display: block;
    margin: 17px auto 0;
    font-family: 'escapely-mono';
}

.virtual-content-outer ul li {
    position: relative;
    list-style-type: none;
    line-height: 1.3 !important;
    font-size: 16px;
    font-weight: 400 !important;
    font-family: 'proxima-nova';
    color: #000;
    padding-bottom: 15px;
}

.virtual-content-outer ul li::before {
    content: "\f061";
    color: #77D5CA;
    font-size: 13px;
    left: -20px;
    top: 2px;
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.commit-blue-box {
    max-width: 728px;
    width: 100%;
    background-image: url(/wp-content/uploads/2024/10/CustomGamesSlides.png);
    background-repeat: no-repeat;
    /*    background-size: cover;*/
    min-height: 292px;
    padding: 27px 0;
    text-align: center;
    margin: 50px auto 0;
}

.commitment-section p {
    padding-left: 60px;
}

.commit-blue-box h2 {
    color: #fff;
}

.commitment-section .commit-blue-box h2 {
    margin-bottom: 10px !important;
    font-size: 37px;
}

.commitment-section .commit-blue-box h2 span {
    margin-bottom: 0 !important;
    font-size: 28px;
}

section.adventure-section {
    padding-top: 0;
}

.commit-blue-box p {
    color: #fff;
    max-width: 531px;
    margin: 0 auto 30px;
    width: 100%;
    padding-left: 0;
}

.consult-btn {
    color: #000;
    background-color: #fff;
    text-align: center;
    max-width: 252px;
    width: 100%;
    display: block;
    margin: 10px auto 0;
    border-radius: 33px;
    font-family: 'escapely-mono';
    padding: 13px 0;
    letter-spacing: 1px;
}

.consult-btn:hover {
    color: #000;
}

.custom-escape-form label {
    width: 100%;
    text-align: left;
    font-size: 17px;
    line-height: 22px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    max-width: 330px;
}

.custom-escape-form input,
.planning_form input {
    background: #F4F4F4;
    border: 0;
    color: #000 !important;
    padding: 15px;
    max-width: 330px;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #00000029;
    font-size: 14px;
    font-family: Montserrat;
    width: 100%;

}

.custom-escape-form textarea {
    background: #F4F4F4;
    border: 0;
    color: #000 !important;
    padding: 14px;
    max-width: 330px;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #00000029;
    font-size: 14px;
    font-family: Montserrat;
    height: 150px;
    width: 100%;
}

.custom-escape-form h2 {
    max-width: 275px;
}

.planning_form #form-step-12 h4 {
    padding-bottom: 20px;
    padding-top: 35px;
    font-size: 20px;
    font-weight: 700;
}

.planning_form #form-step-12 span {
    text-align: center;
    color: #fff;
}

.planning_form .line-black-form {
    background: #fff;
}

.planning_form #form-step-13 {
    text-align: center;
    padding-top: 13px;
}

.planning_form #form-step-13 h3,
.planning_form #form-step-13 p {
    color: #000;
}

.planning_form #form-step-11 p {
    color: #fff
}

.planning_form #form-step-13 h3,
.planning_form #form-step-13 .h3 {
    font-size: 26px;
}

.planning_form #form-step-12 .back-btn {
    top: -11px;
    left: -7px;
}

.custom-escape-form input::placeholder {
    color: #BFBFBF !important;
    opacity: 1;
    /* Firefox */
}

.custom-escape-form input::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: #BFBFBF !important;
}

.planning_form input::placeholder {
    color: #BFBFBF !important;
    opacity: 1;
    /* Firefox */
}

.planning_form input::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: #BFBFBF !important;
}

.custom-escape-form textarea::placeholder {
    color: #BFBFBF !important;
    opacity: 1;
    /* Firefox */
}

.custom-escape-form textarea::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: #BFBFBF !important;
}

.custom-escape-form input[type=submit] {
    max-width: 250px !important;
    width: 100% !important;
    padding: 17px 13px 15px !important;
    font-size: 18px !important;
    font-family: 'escapely-mono';
    letter-spacing: 3px;
    font-weight: 400 !important;
    border-radius: 30px !important;
    border: 0 !important;
    line-height: 1;
    background: #FB954D;
    color: #fff !important;
    margin: auto;
    display: block;
}

.planning_form .custom-planer-next,
.planning_form .btn-primary {
    max-width: 330px;
    width: 100%;
    padding: 17px 13px 15px !important;
    font-size: 18px !important;
    font-family: 'escapely-mono';
    letter-spacing: 3px;
    font-weight: 400 !important;
    border-radius: 30px !important;
    border: 0 !important;
    line-height: 1;
    background: #FFF !important;
    color: #000 !important;
    margin: auto;
    display: block;
}

.planning_form .custom-planer-next:hover,
.planning_form .btn-primary:hover {
    color: #000 !important;
    background: #fff;
}

.virtual-content-outer img {
    padding-left: 40px;
}

.page-template-custom_escape_room .cst_whyy-chose .virtual-content-outer img {
    padding-left: 0;
    display: block;
    margin: auto;
}

.commitment-section {
    padding-top: 0;
}

.custom-escape-form .esc-tabs {
    display: none;
}

.planning_form .esc-tabs-plan.active {
    display: block;
}

.planning_form .esc-tabs-plan {
    display: none;
}

.custom-escape-form .esc-tabs.active {
    display: block;
}

.custom-escape-form .btn-primary {
    max-width: 250px !important;
    width: 100% !important;
    padding: 17px 13px 15px !important;
    font-size: 18px !important;
    font-family: 'escapely-mono';
    letter-spacing: 3px;
    font-weight: 400 !important;
    border-radius: 30px !important;
    border: 0 !important;
    line-height: 1;
    background: #FB954D;
}

.custom-escape-form .btn-primary:hover {
    background: #FB954D;
}

/*

.invalid .custom-escape-form input,
.invalid .custom-escape-form textarea {
    border: 2px solid #FB954D;
}
    */

.wpcf7-form-control-wrap.invalid .input,
.wpcf7-form-control-wrap.invalid .textarea,
.wpcf7-form-control-wrap.invalid input,
.wpcf7-form-control-wrap.invalid textarea {
    border: 2px solid #FB954D;
}

.invalid .planning_form input,
.invalid .planning_form textarea {
    border: 2px solid #77D5CA;
}

.custom-escape-form #form-step-2 h4,
.custom-escape-form #form-step-2 .h4 {
    font-size: 20px;
    font-family: 'montserrat';
    font-weight: 700;
    margin-bottom: 30px;
    max-width: 210px;
    margin-left: auto;
    margin-right: auto;
}

.page-template-custom_escape_room .wpcf7-response-output {
    display: none;
}

.page-template-custom_escape_room .wpcf7-not-valid-tip {
    display: none;
}

.planning_form .form-group.btn-group .custom-planer-next {
    margin: 0 auto;
}

.planning_form .form-group.btn-group .esc-book-a-demo {
    margin: 0 auto;
}

#form-step-12 {
    position: relative;
}

.commitment-section h2 {
    margin-bottom: 20px !important;
    font-size: 42px;
    line-height: 50px;
    font-family: 'montserrat';
}

.custom_escape-section {
    padding-top: 75px;
    padding-bottom: 75px;
}

.virtual-content-outer.demo {
    padding-top: 12px;
}

.custom_escape-section .virtual-content-outer {
    padding-top: 13px;
}

.custom_escape-section .virtual-content-outer h3 {
    max-width: 100%;
}

.custom-escape-form #form-step-2 {
    padding-top: 20px;
}

.page-template-custom_escape_room .virtual-banner-main .virtal-banner-back-btn {
    display: none;
}

.adventure-section .virtual-content-outer h3,
.adventure-section .virtual-content-outer h2 {
    max-width: 100%;
}

.page-template-custom_escape_room .virtual-content-outer {
    padding-left: 30px;
    padding-right: 30px;
}

.page-template-custom_escape_room .cst_whyy-chose .virtual-content-outer {
    padding-left: 0px;
    padding-right: 0px;
}

.page-template-custom_escape_room .cst_whyy-chose .virtual-content-outer h3,
.page-template-custom_escape_room .cst_whyy-chose .virtual-content-outer h2 {
    max-width: unset;
}

.page-template-custom_escape_room #form-step-1 .form-group.btn-group {
    margin-top: 25px !important;
}

.planning_form #form-step-12 input[type=submit] {
    max-width: 330px;
    padding: 10px 0;
    font-size: 18px;
    letter-spacing: 3px;
}

.demo-message-image.demoss {
    margin-top: 12px;
    margin-bottom: 15px;
}

.custom-escape-form #form-step-3 {
    padding-top: 85px;
}

/***** media starts ******/
@media (min-width: 1200px) {
    .container {
        max-width: 1320px !important;
    }
}

@media (max-width: 1500px) {
    .virtual-banner-content {
        padding: 100px 55px;
    }

    body .rooms-slider .favorite-title h3 {
        font-size: 20px;
        line-height: 1.2;
    }

    .favorite-title>div {
        max-width: 190px;
    }

    .stafed-heading h2 {
        font-size: 2em;
    }

    .page-template-custom_escape_room #instantquoteform {
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .right-part-main h2,
    .right-part-main .h2 {
        font-size: 30px;
    }

    .custom-escape-form textarea {
        height: 120px;
    }

    .custom-escape-form input {
        padding: 13px;
    }

    .custom-escape-form #form-step-2 {
        padding-top: 85px;
    }

    .page-template-custom_escape_room .custom-escape-form h2 {
        max-width: 210px;
        font-weight: 700;
        margin-bottom: 35px;
    }
}

@media (max-width:1460px) {}

@media (max-width:1300px) {
    .virtual-content-section {
        padding: 30px 50px 0;
    }

    .experience {
        padding-left: 50px;
        padding-right: 50px;
    }

    .rooms-slider {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }

    .cst_whyy-chose {
        padding-left: 50px;
        padding-right: 50px;
    }

    .planning_form {
        margin-left: auto;
        margin-right: auto;
    }

    .virtual-content-outer img {
        padding-left: 0px;
    }
}

@media (max-width: 1200px) {

    .right-sidebar-inner {
        padding: 25px 15px;
    }

    .favorite-title {
        padding-left: 0;
        padding-right: 0;
    }

    body .rooms-slider .favorite-title h3 {
        font-size: 17px;
        line-height: 1.2;
    }

    .favorites-img img,
    .rooms-slider .favorites-items,
    .favorites-img {
        border-radius: 25px;
    }

    section#testimonials {
        padding: 90px 20px !important;
    }

    .banner-btns {
        align-items: baseline;
    }

    .sidebar-heading h2 {
        font-size: 28px;
    }

    .cst-containter {
        padding: 0 40px;
    }

    .green-outer {
        padding: 25px 25px;
        margin-left: 30px;
    }

    a.tb-banner-btn1.tb-btn.with-arrow.tb-btn-white {
        font-size: 15px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .testimonials .testimonial-item {
        padding: 25px 15px !important;
    }

    .compare-sec-in.left-sec {
        padding-right: 20px;
    }

    .compare-sec-in.right-sec {
        padding-left: 20px;
    }

    .compare-section-main {
        padding: 30px 30px;
    }

    .virtual-content-section {
        padding: 30px 40px 0;
    }

    .cont-contentt {
        padding-left: 0;
    }

    .ready-for-section-main {
        padding: 80px 40px;
    }

    .builder-faqs {
        padding: 0 40px !important;
    }

    .virtual-banner-content {
        padding: 80px 55px;
    }

    .escape-pop-up-item {
        max-width: 900px;
    }

    .big-title {
        font-size: 40px;
    }

    .popup-title {
        font-size: 35px;
    }

    .popup-subtitle {
        font-size: 20px;
        color: #FB954D;
        font-family: 'montserrat';
        font-weight: 700;
    }

    .escape-pop-up-exit {
        max-width: 70px;
        height: 70px;
    }

    .escape-pop-up-exit img {
        max-width: 25px;
        width: 100%;
    }

    .page-template-custom_escape_room .left-part-main .wpcf7-form.init {
        padding: 0 90px;
    }

}

@media (max-width: 991px) {
    .virtual-banner-content {
        max-width: 580px;
        margin: 0 auto;
        padding: 100px 55px;
    }

    .left-right-main {
        display: flex;
        flex-direction: column-reverse;
    }

    .icon-txt-outer .img-txt-cst {
        margin-top: 20px;
    }

    section.experience .cst-title-div h2 {
        font-size: 25px;
    }

    section.experience .cst-title-div span {
        font-size: 35px !important;
    }

    .right-part-main {
        max-width: 100%;
        width: 100%;
    }

    .right-sidebar {
        height: auto;
        position: unset;
        width: 100%;
        max-width: 100%;
        background: #fff;
    }

    .right-part-main {
        box-shadow: unset;
    }

    #instantquoteform {
        padding-bottom: 0;
        padding-top: 0;
    }

    .left-part-main {
        max-width: 100%;
        width: 100%;
    }

    .compare-section-main {
        padding: 30px 30px;
        max-width: 90%;
        margin: 0 auto;
    }

    .ready-for-section-main {
        padding: 60px 40px 90px;
    }

    .right-sidebar-inner {
        padding: 40px 30px;
    }

    .img_left {
        width: 100%;
        max-width: 87px;
    }

    .page-template-custom_escape_room .virtual-content-outer img {
        margin: auto;
        display: block;
    }

    .cst_whyy-chose {
        padding: 30px 0;
    }

    .page-template-custom_escape_room .left-part-main .wpcf7-form.init {
        padding: 0;
    }

    .custom-escape-form .wpcf7-form-control-wrap {
        display: block;
    }

    .page-template-custom_escape_room .banner-para br {
        display: none;
    }

    .page-template-custom_escape_room .banner-para {
        margin-bottom: 17px;
    }

    .page-template-custom_escape_room .banner-para+.banner-para {
        margin-bottom: 30px;
    }


}


@media (max-width: 767px) {
    body .rooms-slider .favorite-title img {
        margin-right: 0px !important;
    }

    .escape-popup-outer {
        position: relative;
    }

    .banner-desktop-image {
        display: none;
    }

    .banner-mobile-image {
        display: block;
        width: 100%;
        height: 100%;
    }

    .popup-image img,
    .popup-image iframe {
        border-radius: 40px;
    }

    .virtual-content-outer p {
        font-size: 16px;
        padding-left: 0px;
    }

    .mobile-btn {
        display: block;
        text-align: center;
        max-width: 100% !important;
    }

    .desktop-btn {
        display: none;
    }

    .virtual-banner-content h1 span {
        font-size: 55px;
        margin-top: 0px;
        display: block;
    }

    .virtual-banner-content h1 {
        font-size: 66px;
    }

    .btn-wrapp-main {
        gap: 15px;
    }

    .custom-date input {
        min-height: 52px;
    }

    .virtual-banner-content {
        max-width: 460px;
        margin: 0 auto;
        padding: 100px 0;
    }

    .cst-icon-block,
    .compare-sec-inner {
        display: block;
    }

    .icon-inner {
        margin-bottom: 0px;
    }

    .cst-icon-block {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .cst-right-content p:last-child {
        margin: 0;
    }

    .cst-right-content .font-18 {
        margin: 0;
    }

    .right_cotent h3 {
        text-align: left !important;
    }

    .img-txt-cst {
        gap: 25px;
    }

    .virtual-content-outer img {
        padding-left: 0px;
    }

    .compare-sec-in.left-sec {
        padding-right: 0;
        max-width: 100%;
    }

    .compare-sec-in.right-sec {
        padding-left: 0;
        max-width: 100%;
    }

    .compare-sec-in.left-sec:after {
        display: none;
    }

    .compare-sec-in.right-sec {
        margin-top: 50px;
    }

    .ready-for-section-main {
        padding: 60px 20px 90px;
    }

    .builder-faqs {
        padding: 0 20px !important;
    }

    .virtual-content-section {
        padding: 30px 20px 0;
    }

    .rooms-slider {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .cst_whyy-chose,
    .experience {
        padding-left: 0;
        padding-right: 0;
    }

    .cst-containter {
        padding: 0 20px;
    }

    .green-outer {
        padding: 25px 25px;
        border-radius: 30px;
        margin: 0 auto;
        max-width: 90%;
    }

    .cst-right-content {
        max-width: 80%;
    }

    .escape-pop-up-item {
        flex-direction: column;
        justify-content: flex-start;
    }

    .escape-popup-left,
    .escape-popup-right {
        max-width: 100%;
    }

    .escape-popup-left {
        padding-right: 0 !important;
        padding-bottom: 20px;
    }

    .escape-pop-up-item {
        width: 100%;
    }

    .popup-image img {
        width: 100%;
    }

    .popup-image img,
    .popup-image iframe {
        border-radius: 25%;
    }

    .card-header {
        padding: 0 !important;
    }

    .card-header button {
        white-space: normal !important;
    }

    .faq-list h5 .btn-link {
        display: flex;
        align-items: flex-start;
    }

    .escape-pop-up-item {
        border-radius: 30px;
        padding: 15px 15px;
    }

    .escape-pop-up-exit {
        max-width: 40px;
        height: 40px;
        top: 15px;
        right: 15px;
    }

    .escape-pop-up-exit img {
        max-width: 18px;
    }

    .right-part-main {
        box-shadow: unset;
    }

    #instantquoteform {
        padding-top: 70px;
    }

    .right-part-main h2,
    .right-part-main .h2 {
        font-size: 30px;
    }

    p {
        font-size: 16px;
    }

    .img_left {
        width: 100%;
        max-width: 55px;
    }

    section#testimonials {
        padding: 50px 20px !important;
    }

    .tb-easapely.rooms-slider {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .left-right-main {
        display: flex;
        flex-direction: column-reverse;
    }

    #instantquoteform {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .back-btn {
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 20px;
    }

    .virtual-full-image-sec img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .virtual-banner-main {
        margin-top: -2px;
    }

    header#header {
        background: #000;
    }

    .underline {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .tb-brand-logo {
        margin-top: 0 !important;
    }

    .full-width.tb-escapely:has(.tb-brand-logo) {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .escape-pop-up-item {
        position: static;
    }

    .escape-popup-inner {
        position: relative;
    }

    .mobile-btn-a {
        display: block;
    }

    .teal-btn:hover {
        color: #fff;
        text-decoration: none;
        filter: brightness(1.1);
    }

    .instant-quote-line-main {
        margin-top: 25px;
        padding: 0 20px;
        text-align: center;
    }

    .instant-quote-line {
        display: block;
        font-family: 'montserrat';
        font-size: 16px;
        font-weight: 700;
    }

    .right-part-main {
        padding: 0 15px;
    }

    #instantquoteform {
        background: #e9e9e9;
        border-radius: 35px;
        margin-top: 10px;
    }

    #instantquoteform .escape-tabs {
        padding-top: 0;
    }

    .mobile-btn-cst {
        justify-content: center;
        margin-top: 34px !important;
    }

    .content-sec .instant-quote-line-main.for_btn {
        margin: 40px 0;
    }

    .btn-wrapp-main {
        max-width: 237px;
    }

    .virtual-banner-content .tb-btn {
        font-size: 18px !important;
        font-weight: 700;
    }

    .virtual-content-outer .mobile-btn-a {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    body .testimonials.tb-escapely .testimonial-item .profile .profile-name {
        font-size: 15px !important;
        letter-spacing: 0.5px !important;
    }

    .custom-escape-form #form-step-2 {
        padding-top: 19px;
    }

    .planning_form {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
    }

    .page-template-custom_escape_room .left-part-main .wpcf7-form.init {
        padding: 0 20px;
    }

    .form-group.btn-group {
        margin-top: 20px !important;
    }
}




@media (max-width: 480px) {

    .page-template-custom_escape_room .virtual-content-outer {
        padding-left: 0px;
        padding-right: 0px
    }

    .virtual-banner-main-in {
        position: relative;
        padding: 20px;
    }

    .virtual-banner-content {
        max-width: 460px;
        margin: 0 auto;
        padding: 30px 0 230px;
    }

    a.tb-banner-btn1.tb-btn.with-arrow.tb-btn-white {
        padding-left: 15px;
        padding-right: 15px;
    }

    .compare-section-main,
    .ready-for-inner {
        padding: 30px 20px;
    }

    section.ready-for-section-main h2 {
        font-size: 30px !important;
    }

    section.ready-for-section-main h3 {
        font-size: 24px !important;
    }

    .popup-title {
        font-size: 30px;
    }

    .big-title {
        font-size: 35px;
    }

    .divider-orange {
        margin: 15px 0 20px;
    }

    .card-header {
        padding: 0;
    }

    .banner-para {
        font-size: 18px;
        padding: 0 20px;
        font-weight: 600 !important;
    }

    .virtual-banner-content h3,
    .virtual-banner-content .h3 {
        margin-bottom: 7px;
    }

    .virtual-banner-content h1 {
        font-size: 68px;
    }

    .virtual-banner-content h1 span {
        font-size: 55px;
    }

    .cst-right-content.mobile-btn {
        margin: 15px 0;
    }

    .underline {
        margin-top: 28px;
        margin-bottom: 29px;
    }

    .planning_form h4 {
        font-size: 17px;
        line-height: 27px;
    }

    .page-template-custom_escape_room h2 {
        text-align: left !important;
        font-size: 30px !important;
        margin-bottom: 15px !important;
    }

    .page-template-custom_escape_room h2 span {
        text-align: left !important;
    }



    /*
    .page-template-custom_escape_room .cst_whyy-chose .virtual-content-outer{
        padding-left: 30px;
        padding-right: 30px;
    }
    .page-template-custom_escape_room .cst_whyy-chose .cst-title-div{
        padding: 0 30px;
    }
    .page-template-custom_escape_room .custom_escape-section .builder-text-content,
    .page-template-custom_escape_room .adventure-section .builder-text-content{
        padding: 0 30px;
    }*/
    .custom_escape-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .commitment-section p {
        padding-left: 0;
    }

    .page-template-custom_escape_room .adventure-section .virtual-content-outer.solid {
        padding: 0;
    }

    .page-template-custom_escape_room .planning_form h2,
    .page-template-custom_escape_room .planning_form .h2 {
        font-size: 28px !important;
        line-height: 28px;
        text-align: center !important;
        margin-bottom: 5px !important;
    }

    /*.commitment-section{
        padding: 0 30px;
    }*/
    .page-template-custom_escape_room .tb-faq {
        padding-top: 35px;
    }

    .page-template-custom_escape_room .left-part-main .wpcf7-form.init {
        padding: 0 50px;
    }

    .planning_form {
        padding: 35px 20px 12px;
    }

    .planning_form #form-step-11 p {
        margin-bottom: 10px;
    }

    .page-template-custom_escape_room .virtual-banner-content h1 {
        font-size: 61px;
    }

    .page-template-custom_escape_room .virtual-banner-content h1 span {
        font-size: 48px;
    }

    .page-template-custom_escape_room .virtual-banner-content h1 span.h3 {
        font-size: 27px;
    }

    .page-template-custom_escape_room .custom-escape-form h2 {
        text-align: center !important;
    }

    .page-template-custom_escape_room .virtual-banner-content {
        padding: 40px 10px 32px;
    }

    .planning_form #form-step-12 h4 {
        padding-top: 5px;
    }

    .planning_form .wpcf7-form-control-wrap textarea {
        height: 150px;
        max-width: 100%;
    }
}

@media (max-width: 400px) {
    #ui-datepicker-div {
        width: 250px;
    }

    .ui-datepicker-calendar th,
    .ui-datepicker-calendar td {
        padding: 3px;
    }

    .page-template-custom_escape_room .virtual-banner-content h1 {
        font-size: 49px;
        line-height: 46px;
    }

    .page-template-custom_escape_room .virtual-banner-content h1 span {
        font-size: 40px;
    }
}


#instantquoteform input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#instantquoteform input[type=number] {
    -moz-appearance: textfield;
}
